@using System.Web.UI.WebControls
@model BLLInterface.Models.TaskEntity
@{
    var ajaxOptions = new AjaxOptions()
    {
        Confirm="Are you sure you want to delete?",
        UpdateTargetId = "list",
        // Url = Url.Action("_DeleteTask",Model),
        OnComplete = "OnDeleteClickRefreshList"

    };
}


@{
    if (User.Identity.Name.Equals(Model.CreatorUser.Email) || User.IsInRole("admin"))
    {

        @Ajax.ActionLink("Delete", "_DeleteTask", Model, ajaxOptions)
    }
}
@{
    if (User.Identity.Name == Model.CreatorUser.Email)
    {
        @Ajax.ActionLink("update", "_RenderTaskToUpdate", Model, new AjaxOptions { UpdateTargetId = $"{Model.Id}fullInfo", InsertionMode = InsertionMode.Replace });
    }

}

@if (Model.Deadline > DateTime.Now)
{
    <div align="center" class="time">@Model.TimeLeft.Days days and @Model.TimeLeft.Hours hours left</div>
}
else
{
    <div align="center">Time is over!</div>
}
<br />
Implementation:
@Model.Implementation %
@if (User.Identity.Name.Equals(Model.Developer == null ? null : Model.Developer.Email))
{
    using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action("_UpdateTask"),
        UpdateTargetId = Model.Id + "fullInfo",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"

    }))
    {

        <input type="hidden" name="oldTaskId" value="@Model.Id" />
        <input type="range" min="0" max="100" step="10" value="@Model.Implementation" name="implementation" />
        <button type="submit"> Submit </button>
    }
}
<br />
Description : @Model.Description
<br />


Creator: @Html.ActionLink("Creator", "ViewAccount", "Account", new { Email = Model.CreatorUser.Email }, null)

<div id=@string.Format("taskId{0}developer",Model.Id)>

    Developer:

    @if (Model.Developer == null)
    {
        if (User.IsInRole("manager"))
        {

            using (Html.BeginForm("_BecomeADeveloper", "Tasks", Model))
            {

                @Html.DropDownList("DeveloperEmail", new SelectList(ViewBag.Users, "Email", "Nickname"), "select")
                <input type="submit" />
            }
        }
        else
        {
            @Html.Raw("None")
        }
    }
    else
    {
        @Html.ActionLink("Developer", "ViewAccount", "Account", new { Email = Model.Developer.Email }, null);
    }
</div>


<script type="text/javascript">
    //$(document).ready(function OnDeleteClickRefreshList() {
    //    document.getElementById("refreshButton").submit();
    //});


    function OnDeleteClickRefreshList() {
        document.getElementById("refreshLink").onclick();
    }
</script>
