@model BLLInterface.Models.TaskEntity
@{
    ViewBag.Title = "AllTasks";

    var ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "list",
        Url = Url.Action("AllTasksUpdate"),
        //OnSuccess = "ParseResponse"

    };

}
@Styles.Render("~/Content/TaskStyles.css")
<h2 align="center">AllTasks</h2>



@if (User.IsInRole("admin"))
{

    @Html.ActionLink("New task", "NewTask")
}
<div id="wrapper">
    @Ajax.ActionLink("Refresh", "AllTasksUpdate", new AjaxOptions() { UpdateTargetId = "list" })

    <ul class="border" id="list">
        @Html.Action("_RenderTaskList")
    </ul>

</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/bundles/jquery");
    @Scripts.Render("~/bundles/jqueryval")
}


